#menu a
{
  color:blued;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-size:20px;
            }
#hinhanh
{
  width:100%;
  height:100px;
}
footer p{
  height:5px;
  text-align:center;
}
#mucluc{
  box-sizing:border-box;
  border:1px solid black;
  width:20%;
  float:left;
}
#sanpham{
  box-sizing:border-box;
  border:1px solid black;
  width:80%;
  float:right;
}
#empty{
  clear:both;
}
.spdau{
  float:left;
  width:20%;
  height:200px;
  margin:20px 20px 20px 40px;
  border:1px solid black;
  border-radius:5px;
  box-shadow: 5px 5px 10px;
  box-sizing:border-box;
}
.sp{
  float:left;
  width:20%;
  height:200px;
  margin:20px;
  border:1px solid black;
  border-radius:5px;
  box-shadow: 5px 5px 10px;
  box-sizing:border-box;
}
.tensp{
  text-align:center;
  font-weight:700;
  margin-top:5px;
}
.hinhsp{
  width:150px;
  height:130px;
  margin:0 20px 0 20px;
}
.giasp{
  margin: 3px 5px 0 15px;
  color:red;
  float:left;
}
.mua{
  margin: 0 0 0 10px;
  color:green;
}
.sp:hover{
  border:2px solid blue;
}
.spdau:hover{
  border:2px solid blue;
}